.container {
    .header {
        margin-top: 4%;
        text-align: center;
        .logo {
            width: 100%;
            background-color: #FEF2FC;
        }
    }
    // @media screen and (min-width: 769px) and (max-width: 1400px) {
    //     .header {
    //         margin-top: 4%;
    //     }
    // }
    @media screen and (min-width: 768px) {
        .header {
            margin-top: 7%;
        }
    }
    @media screen and (max-width: 500px) {
        .header {
            margin-top: 14%;
        }
    }
    @media screen and (max-width: 360px) {
        .header {
            margin-top: 16%;
        }
    }
    @media screen and (max-width: 320px) {
        .header {
            margin-top: 18%;
        }
    }
}