<section class="container">
    <div class="row header">
        <div class="logo">
            <img src="assets/images/ubru.png" alt="" class="img-responsive center-block">
        </div>
        <h1 class="text-center">Projects UBRU</h1>
    </div>
    <div class="row">

        <div class="col-md-12">

            <table id="projectsdata" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ลำดับ</th>
                        <th>เลขที่โครงงาน</th>
                        <th>ชื่อโครงงาน</th>
                        <th>อ.ที่ปรึกษา</th>
                        <th>นักศึกษา</th>
                        <th>วันที่</th>
                        <th></th>
                    </tr>
                </thead>

            </table>

        </div>
    </div>
</section>